Node-RED_Flows/Lab2Flow.json
[{"id":"e14feab3.04c3c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a60f9e3a.4eb2a","type":"inject","z":"e14feab3.04c3c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":200,"wires":[["8ffb1a07.3a1608"]]},{"id":"8ffb1a07.3a1608","type":"file in","z":"e14feab3.04c3c8","name":"","filename":"/tmp/voltage_fred","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":470,"y":200,"wires":[["17bee8ad.fd8bc7"]]},{"id":"17bee8ad.fd8bc7","type":"ui_gauge","z":"e14feab3.04c3c8","name":"","group":"e87efe29.b365c","order":0,"width":0,"height":0,"gtype":"gage","title":"Voltage","label":"volts","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":200,"wires":[]},{"id":"e87efe29.b365c","type":"ui_group","name":"Group 17 (fred)","tab":"60d90ce4.757594","order":1,"disp":true,"width":"6","collapse":false},{"id":"60d90ce4.757594","type":"ui_tab","name":"Lab2","icon":"dashboard","order":1,"disabled":false,"hidden":false}]