Node-RED_Flows/Lab3Flow.json
[{"id":"9f1156d4.b89e18","type":"tab","label":"Lab 3","disabled":false,"info":""},{"id":"273a9793.8fa578","type":"inject","z":"9f1156d4.b89e18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":180,"wires":[["eb997ea7.7a2e7","9e4bcb6d.7390e8","63b1d55a.4833cc"]]},{"id":"eb997ea7.7a2e7","type":"file in","z":"9f1156d4.b89e18","name":"","filename":"/tmp/voltage_fred","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":470,"y":180,"wires":[["af4b64c8.228bc8"]]},{"id":"af4b64c8.228bc8","type":"ui_gauge","z":"9f1156d4.b89e18","name":"","group":"73c22517.ca255c","order":0,"width":0,"height":0,"gtype":"gage","title":"Voltage","label":"volts","format":"{{value}}","min":0,"max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":180,"wires":[]},{"id":"1cf89daf.351912","type":"ui_text","z":"9f1156d4.b89e18","group":"1eeeed1a.224623","order":1,"width":0,"height":0,"name":"","label":"Cardinal Direction","format":"{{msg.payload}}","layout":"col-center","x":840,"y":280,"wires":[]},{"id":"9e4bcb6d.7390e8","type":"file in","z":"9f1156d4.b89e18","name":"","filename":"/tmp/direc_fred","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":460,"y":280,"wires":[["1cf89daf.351912"]]},{"id":"47b942d9.884a1c","type":"ui_gauge","z":"9f1156d4.b89e18","name":"","group":"1eeeed1a.224623","order":2,"width":0,"height":0,"gtype":"compass","title":"Compass heading","label":"Degrees","format":"{{value}}","min":"-180","max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":380,"wires":[]},{"id":"63b1d55a.4833cc","type":"file in","z":"9f1156d4.b89e18","name":"","filename":"/tmp/comp_fred","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":460,"y":380,"wires":[["47b942d9.884a1c"]]},{"id":"73c22517.ca255c","type":"ui_group","name":"Robot Diagnostics","tab":"5b0df351.12586c","order":1,"disp":true,"width":"6","collapse":false},{"id":"1eeeed1a.224623","type":"ui_group","name":"Compass Reading","tab":"5b0df351.12586c","order":2,"disp":true,"width":"6","collapse":false},{"id":"5b0df351.12586c","type":"ui_tab","name":"Lab 3","icon":"dashboard","order":1,"disabled":false,"hidden":false}]