Node-RED_Flows/Lab4Flow.json
[{"id":"b9960af4.eebfc8","type":"tab","label":"Lab 4","disabled":false,"info":""},{"id":"eac8026a.903b9","type":"inject","z":"b9960af4.eebfc8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":200,"wires":[["d66ea782.1b5378","47c0ecf7.84ee04","88c8c433.44c638"]]},{"id":"d66ea782.1b5378","type":"file in","z":"b9960af4.eebfc8","name":"","filename":"/tmp/voltage_fred","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":450,"y":200,"wires":[["ddc82603.ade558"]]},{"id":"47c0ecf7.84ee04","type":"file in","z":"b9960af4.eebfc8","name":"","filename":"/tmp/xdot_fred","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":440,"y":300,"wires":[["999dcbfa.d9d788"]]},{"id":"88c8c433.44c638","type":"file in","z":"b9960af4.eebfc8","name":"","filename":"/tmp/thetadot_fred","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":450,"y":400,"wires":[["2d7f0070.e48db"]]},{"id":"ddc82603.ade558","type":"ui_gauge","z":"b9960af4.eebfc8","name":"","group":"6d377c0a.a2f1f4","order":0,"width":0,"height":0,"gtype":"gage","title":"Voltage","label":"volts","format":"{{value}}","min":0,"max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":200,"wires":[]},{"id":"999dcbfa.d9d788","type":"ui_chart","z":"b9960af4.eebfc8","name":"","group":"fa251a69.9ff868","order":2,"width":0,"height":0,"label":"Forward velocity (m/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-.5","ymax":".5","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":820,"y":300,"wires":[[]]},{"id":"2d7f0070.e48db","type":"ui_chart","z":"b9960af4.eebfc8","name":"","group":"fa251a69.9ff868","order":3,"width":0,"height":0,"label":"Angular Velocity (degrees/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-3.5","ymax":"3.5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":840,"y":400,"wires":[[]]},{"id":"6d377c0a.a2f1f4","type":"ui_group","name":"Robot Diagnostics","tab":"41b99b6e.783244","order":1,"disp":true,"width":"6","collapse":false},{"id":"fa251a69.9ff868","type":"ui_group","name":"Velocities","tab":"41b99b6e.783244","order":2,"disp":true,"width":"6","collapse":false},{"id":"41b99b6e.783244","type":"ui_tab","name":"Lab 4","icon":"dashboard","order":1,"disabled":false,"hidden":false}]