Node-RED_Flows/Lab5Flow.json
[{"id":"88748a4d.99ac08","type":"tab","label":"Lab 5","disabled":false,"info":""},{"id":"22840f8.4cd00f","type":"inject","z":"88748a4d.99ac08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":180,"wires":[["719e1ffa.1f934","967433cb.ee35d","a5f2ac84.8bf41","14998d28.d4f813","99c7bf4d.b90a4"]]},{"id":"719e1ffa.1f934","type":"file in","z":"88748a4d.99ac08","name":"","filename":"/tmp/voltage_fred","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":410,"y":180,"wires":[["2a1adc34.0e9a44"]]},{"id":"967433cb.ee35d","type":"file in","z":"88748a4d.99ac08","name":"","filename":"/tmp/xdot_fred","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":400,"y":220,"wires":[["228bd75b.a53448"]]},{"id":"a5f2ac84.8bf41","type":"file in","z":"88748a4d.99ac08","name":"","filename":"/tmp/thetadot_fred","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":410,"y":260,"wires":[["90620532.55b228"]]},{"id":"2a1adc34.0e9a44","type":"ui_gauge","z":"88748a4d.99ac08","name":"","group":"e0ce06e5.7c9c18","order":0,"width":0,"height":0,"gtype":"gage","title":"Voltage","label":"volts","format":"{{value}}","min":0,"max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":180,"wires":[]},{"id":"228bd75b.a53448","type":"ui_chart","z":"88748a4d.99ac08","name":"","group":"b25118a4.8bb9d8","order":2,"width":0,"height":0,"label":"Forward velocity (m/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-.5","ymax":".5","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":780,"y":220,"wires":[[]]},{"id":"90620532.55b228","type":"ui_chart","z":"88748a4d.99ac08","name":"","group":"b25118a4.8bb9d8","order":3,"width":0,"height":0,"label":"Angular Velocity (Rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-3.5","ymax":"3.5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":790,"y":260,"wires":[[]]},{"id":"e20c428e.a2752","type":"ui_chart","z":"88748a4d.99ac08","name":"","group":"312decc8.3489d4","order":2,"width":0,"height":0,"label":"Left Wheel (Rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":770,"y":300,"wires":[[]]},{"id":"c15f485e.515e38","type":"ui_chart","z":"88748a4d.99ac08","name":"","group":"312decc8.3489d4","order":3,"width":0,"height":0,"label":"Right Wheel (Rad/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":780,"y":340,"wires":[[]]},{"id":"14998d28.d4f813","type":"file in","z":"88748a4d.99ac08","name":"","filename":"/tmp/left_fred","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":300,"wires":[["e20c428e.a2752"]]},{"id":"99c7bf4d.b90a4","type":"file in","z":"88748a4d.99ac08","name":"","filename":"/tmp/right_fred","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":400,"y":340,"wires":[["c15f485e.515e38"]]},{"id":"e0ce06e5.7c9c18","type":"ui_group","name":"Robot Diagnostics","tab":"806b27.6f8ef4d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"b25118a4.8bb9d8","type":"ui_group","name":"Chassis Speed","tab":"806b27.6f8ef4d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"312decc8.3489d4","type":"ui_group","name":"Wheel Speeds","tab":"806b27.6f8ef4d8","order":3,"disp":true,"width":"6","collapse":false},{"id":"806b27.6f8ef4d8","type":"ui_tab","name":"Lab 5","icon":"dashboard","order":1,"disabled":false,"hidden":false}]