Node-RED_Flows/Lab6.json
[{"id":"5a58dad0.ca58b4","type":"tab","label":"Lab 6","disabled":false,"info":""},{"id":"736432cb.2db9ac","type":"inject","z":"5a58dad0.ca58b4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":80,"wires":[["b08dbfe8.f7c33","828f3ef4.bdb6c","760f1127.35f34","3860274e.8c97a8","fd381ff0.83ae"]]},{"id":"b08dbfe8.f7c33","type":"file in","z":"5a58dad0.ca58b4","name":"","filename":"/tmp/voltage_fred","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":80,"wires":[["5283ba0b.9b7644"]]},{"id":"5283ba0b.9b7644","type":"ui_gauge","z":"5a58dad0.ca58b4","name":"","group":"5055683d.074e98","order":0,"width":0,"height":0,"gtype":"gage","title":"Voltage","label":"volts","format":"{{value}}","min":0,"max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":80,"wires":[]},{"id":"828f3ef4.bdb6c","type":"file in","z":"5a58dad0.ca58b4","name":"","filename":"/tmp/obsd_fred","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":380,"y":120,"wires":[["90be2a86.af99d8"]]},{"id":"760f1127.35f34","type":"file in","z":"5a58dad0.ca58b4","name":"","filename":"/tmp/obsm_fred","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":380,"y":160,"wires":[["5d12b501.2545ec"]]},{"id":"3860274e.8c97a8","type":"file in","z":"5a58dad0.ca58b4","name":"","filename":"/tmp/x_fred","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":370,"y":200,"wires":[["d3f0cf2b.606b"]]},{"id":"fd381ff0.83ae","type":"file in","z":"5a58dad0.ca58b4","name":"","filename":"/tmp/y_fred","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":370,"y":240,"wires":[["17f786b7.b58469"]]},{"id":"5d12b501.2545ec","type":"ui_chart","z":"5a58dad0.ca58b4","name":"","group":"8321de95.2725f","order":2,"width":0,"height":0,"label":"Distance (m)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":".5","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":630,"y":160,"wires":[[]]},{"id":"90be2a86.af99d8","type":"ui_gauge","z":"5a58dad0.ca58b4","name":"","group":"8321de95.2725f","order":1,"width":0,"height":0,"gtype":"compass","title":"Heading","label":"Degrees","format":"{{value}}","min":"-135","max":"135","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":120,"wires":[]},{"id":"d3f0cf2b.606b","type":"ui_chart","z":"5a58dad0.ca58b4","name":"","group":"9921f1da.a6809","order":2,"width":0,"height":0,"label":"X-position (m)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1","ymax":"1","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":640,"y":200,"wires":[[]]},{"id":"17f786b7.b58469","type":"ui_chart","z":"5a58dad0.ca58b4","name":"","group":"9921f1da.a6809","order":3,"width":0,"height":0,"label":"Y-position (m)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":640,"y":240,"wires":[[]]},{"id":"5055683d.074e98","type":"ui_group","name":"Robot Diagnostics","tab":"3cf6718a.38a68e","order":1,"disp":true,"width":"6","collapse":false},{"id":"8321de95.2725f","type":"ui_group","name":"Polar Coordinates","tab":"3cf6718a.38a68e","order":3,"disp":true,"width":"6","collapse":false},{"id":"9921f1da.a6809","type":"ui_group","name":"Cartesian Coordinates","tab":"3cf6718a.38a68e","order":2,"disp":true,"width":"6","collapse":false},{"id":"3cf6718a.38a68e","type":"ui_tab","name":"Lab 6","icon":"dashboard","order":1,"disabled":false,"hidden":false}]